<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Profil de l'adhérent</h1>
</div>
<div style="background:url(assets/img/member_bg.jpg) center center; background-size:cover">
    <div class="wrapper-lg bg-white-opacity">
        <div class="row m-t">
            <div class="col-sm-7">
              <a ui-sref="app.member.photo({id: vm.member.id})" class="thumb-lg pull-left m-r">
                <img src="{{vm.getAvatar()}}" class="img-circle" alt="avatar">
              </a>
              <div class="clear m-b">
                <div class="m-b m-t-sm">
                  <span class="h3 text-black">{{ vm.member.firstname}} {{ vm.member.lastname}}</span>
                  <small class="m-l">{{ vm.member.birthdate | date : 'dd/MM/yyyy'}}</small>
                </div>
                <p class="m-b">
                  <a href="http://twitter.com/{{vm.member.twitter}}" ng-if="vm.member.twitter" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-twitter"></i></a>
                  <a href="http://fb.com/{{vm.member.facebook}}" ng-if="vm.member.facebook" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-facebook"></i></a>
                </p>
                <a ui-sref="app.member.edit({id: vm.member.id})" class="btn btn-sm btn-danger dker btn-rounded">Modifier</a>
              </div>
            </div>
            <div class="col-sm-5">

            </div>
        </div>
    </div>
</div>


<div class="wrapper-md">
    <div class="row">
        <div class="col-md-6">
            
            <div class="row row-sm text-center">
                
                <div class="col-xs-12 m-b-md" ng-if="vm.member.town">
                  <div class="r bg-light dker item hbox no-border">
                    <div class="col w-xs v-middle hidden-md">
                        <i class="fa fa-home fa-3x"></i>
                    </div>
                    <div class="col dk padder-v r-r">
                      <div class="dk font-thin h1"><span>{{vm.member.town}}</span></div>
                      <span class="">{{vm.member.address}} {{vm.member.zipcode}} {{vm.member.town}}</span>
                    </div>
                  </div>
                </div>
                
                <div class="col-xs-6" ng-if="vm.member.phones && vm.member.phones.length > 0">
                    <div class="panel padder-v item">
                        <div class="h1 text-info font-thin h1"><i class="fa fa-phone"></i></div>
                        <div class="text-muted text-sm" ng-repeat="phone in vm.member.phones">
                            {{phone.number}}
                            <span ng-if="phone.type">({{phone.type}})</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6" ng-if="vm.member.emails && vm.member.emails.length > 0">
                    <div class="panel padder-v item">
                        <div class="text-info font-thin h1 block"><i class="fa fa-envelope"></i></div>
                        <div class="text-muted text-xs" ng-repeat="email in vm.member.emails">
                            {{email.address}}
                            <span ng-if="email.type">({{email.type}})</span>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="panel no-border" ng-if="vm.member.legalGuardianLastname">
                <div class="panel-heading wrapper b-b b-light">
                  <h4 class="font-thin m-t-none m-b-none">Représentant légal</h4>              
                </div>
                <ul class="list-group list-group-lg m-b-none">
                  <li class="list-group-item">
                    <a href class="thumb-sm m-r">
                        <i class="fa fa-user fa-2x v-middle"></i>
                    </a>
                    <a href>{{vm.member.legalGuardianLastname}} {{vm.member.legalGuardianFirstname}}</a>
                  </li>
                </ul>
            </div>
            
            <div class="panel no-border" ng-if="vm.licenses">
                <div class="panel-heading wrapper b-b b-light">
                  <h4 class="font-thin m-t-none m-b-none">Licences</h4>              
                </div>
                <ul class="list-group list-group-lg m-b-none">
                  <li class="list-group-item" ng-repeat="license in vm.licenses">
                    <a href class="thumb-sm m-r">
                        <i class="fa fa-id-card-o fa-2x v-middle"></i>
                    </a>
                    <span class="pull-right label bg-light inline m-t-sm" ng-if="license.federation">{{license.federation.label}}</span>
                    <a ui-sref="app.member.license.edit({idMember: vm.member.id, id: license.id})">{{license.number}}</a>
                  </li>
                </ul>
                <div class="panel-footer">
                    <a ui-sref="app.member.license.new({idMember: vm.member.id})" class="btn m-b-xs btn-sm btn-info btn-addon"><i class="fa fa-plus"></i>Nouveau</a>
                </div>
            </div>
            
            <div class="panel no-border" ng-if="vm.degrees">
                <div class="panel-heading wrapper b-b b-light">
                  <h4 class="font-thin m-t-none m-b-none">Diplômes</h4>              
                </div>
                <ul class="list-group list-group-lg m-b-none">
                  <li class="list-group-item" ng-repeat="degree in vm.degrees">
                    <a href class="thumb-sm m-r">
                        <i class="fa fa-graduation-cap fa-2x v-middle"></i>
                    </a>
                    <span class="pull-right label bg-light inline m-t-sm" ng-if="degree.degreeType">{{degree.degreeType.label}}</span>
                    <a ui-sref="app.member.degree.edit({idMember: vm.member.id, id: degree.id})">{{degree.label}}</a>
                  </li>
                </ul>
                <div class="panel-footer">
                    <a ui-sref="app.member.degree.new({idMember: vm.member.id})" class="btn m-b-xs btn-sm btn-info btn-addon"><i class="fa fa-plus"></i>Nouveau</a>
                </div>
            </div>
        </div>
    
        <div class="col-md-6">
          <div data-ng-include="'app/member/views/member_show_current_subscription.tpl.html'"></div>  
          <div data-ng-include="'app/member/views/member_show_bike_rent.tpl.html'"></div>  
        </div>
        
    </div>
</div>