<div class="panel b-a">
  <div class="panel-heading bg-info dk no-border wrapper-lg">
      <a ui-sref="app.member.bike_rent.list({idMember: vm.member.id})" class="btn btn-sm btn-icon btn-rounded btn-info pull-right m-r"><i class="fa fa-list-ul"></i></a>
      <a ui-sref="app.member.bike_rent.new({idMember: vm.member.id})" class="btn btn-sm btn-icon btn-rounded btn-info m-l"><i class="fa fa-plus"></i></a>
  </div>
  <div class="text-center m-b clearfix">
      <div class="thumb-lg avatar m-t-n-xxl">
          <img src="assets/img/bike.jpg" alt="Vélo" class="b b-3x b-white">
          <div class="h4 font-thin m-t-sm">
              {{ vm.bikeRents && vm.bikeRents.length > 0 ? 'Locations' : 'Aucune location' }}
          </div>
      </div>
  </div>
  <div class="hbox text-center b-t b-light">          
    <a ui-sref="app.member.bike_rent.edit({idMember: vm.member.id, id: bikeRent.id})" ng-class="{'b-r': !$last}" class="col padder-v text-muted b-light" ng-repeat="bikeRent in vm.bikeRents">
      <div class="h4" ng-if="bikeRent.bike">{{bikeRent.bike.label}}</div>
      <span ng-if="bikeRent.bike.bike_type">{{bikeRent.bike.bike_type.label}}</span>
    </a>
  </div>
</div>
