<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">{{ vm.license.id ? 'Modifier' : 'Créer' }} une licence</h1>
</div>
<div style="background:url(assets/img/subscription_bg.jpg) center center; background-size:cover">
    <div class="wrapper-lg bg-white-opacity">
        <div class="row m-t">
            <div class="col-sm-7">
              <a class="thumb-lg pull-left m-r">
                <img src="{{vm.getAvatar()}}" class="img-circle" alt="avatar">
              </a>
              <div class="clear m-b">
                <div class="m-b m-t-sm">
                  <span class="h3 text-black">{{ vm.member.firstname}} {{ vm.member.lastname}}</span>
                  <small class="m-l">{{ vm.member.birthdate | date : 'dd/MM/yyyy'}}</small>
                </div>
                <p class="m-b">
                  <a href="http://twitter.com/{{vm.member.twitter}}" ng-if="vm.member.twitter" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-twitter"></i></a>
                  <a href="http://fb.com/{{vm.member.facebook}}" ng-if="vm.member.facebook" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-facebook"></i></a>
                </p>
                <a ui-sref="app.member.show({id: vm.member.id})" class="btn btn-sm btn-danger dker btn-rounded"><i class="fa fa-arrow-left"></i> Profil</a>
              </div>
            </div>
            <div class="col-sm-5">

            </div>
        </div>
    </div>
</div>

<div class="wrapper-md">
  <div uib-alert ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')">{{alert.message}}</div>
  
  <form role="form" name="form" class="form-validation">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ license.id ? 'Modifier' : 'Créer' }} une licence :
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Numéro *</label>
              <input type="text" class="form-control" ng-model="vm.license.number" placeholder="Entrez une valeur" required maxlength="255">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label style="display:block;">Fédération</label>
              <select class="form-control m-b" ng-model="vm.license.federation" ng-options="federation.id as federation.label for federation in vm.federations" placeholder="Choisissez parmi la liste">
              </select>
            </div>
          </div>
        </div>
      </div>
      <footer class="panel-footer bg-light lter">
        <div class="row">
          <div class="col-md-4">
            <button ng-click="vm.remove()" ng-show="vm.license.id" class="btn btn-danger btn-addon m-b-xs"><i class="fa fa-close"></i>Supprimer</button>
          </div>
          <div class="col-md-8 text-right">
            <a class="btn btn-default btn-addon" ui-sref="app.member.show({id: vm.member.id})"><i class="fa fa-arrow-left"></i>Retour profil</a>
            <button ng-click="vm.save()" class="btn btn-success btn-addon" ng-disabled="form.$invalid"><i class="fa fa-check"></i>Enregistrer</button>
          </div>
        </div>
      </footer>
    </div>
  </form>
</div>